<%- include('../partials/header') %>


<form id="edit-day-form" action="/visits/<%= visit._id %>/days/<%= day._id %>?_method=UPDATE" method="POST" >
    <button type="submit">Edit Day</button>
</form>

<br>

<h3>Activities:</h3>

<div class="activities-shell">

    <% activities.forEach(function(a) { %> 
    
        <div class="activity-container"><%= a.name %>
            <ul>
                <li><%= a.formatted_address %></li>
                <li><%= a.type %></li>
                <li><%= a.notes %></li>
            </ul>
            <form id="delete-activity-form" action="/visits/<%= visit._id %>/days/<%= day._id %>/activities/a._id?_method=DELETE" method="POST" >
                <button type="submit">X</button>
            </form>
        </div>
        <br>
        
     
    <% }); %>
    
</div>




<h3>Add Activity:</h3>

<form action="/visits/<%= visit._id %>/days/<%= day._id %>/activities" method="POST">
        
    <label>Name:
        <input type="string" name="name">
    </label><br>
        
    <label>Address:
        <input type="string" name="formatted_address">
    </label><br>

    <label>Type:
        <input type="string" name="type">
    </label><br>

    <label>Notes:
        <input type="string" name="notes">
    </label><br>
        
    <button type="submit">Add Activity</button>

</form>

<%- include('../partials/footer') %>