<%- include('../partials/header') %>

<form class="back-button" action="/visits/<%= visit._id %>" method="GET" >
    <button type="submit">⇦</button>
</form>

<form id="delete-day-form" action="/visits/<%= visit._id %>/days/<%= day._id %>?_method=DELETE" method="POST" >
    <button type="submit">Delete Day</button>
</form>

<div id="edit-day-container">
    <h3>Edit Day:</h3>
    <form id="edit-day-form" action="/visits/<%= visit._id %>/days/<%= day._id %>?_method=PUT" method="POST" >
        <label>Name:
            <input type="string" name="name" value="<%= day.name %>">
        </label><br>
        <label>Date:
            <input type="datetime-local" name="date" value="<%= defaultDate %>"
        </label><br>
        <button type="submit">Update</button>
    </form>
</div>

<div id="activities-container">
    <h3>Activities:</h3>
    <% activities.forEach(function(a) { %> 
        <div class="activity-list"><%= a.name %>
            <ul>
                <li><%= a.formatted_address %></li>
                <li><%= a.type %></li>
                <li><%= a.notes %></li>
            </ul>
            <form id="delete-activity-form" action="/visits/<%= visit._id %>/days/<%= day._id %>/activities/<%= a._id %>?_method=DELETE" method="POST" >
                <button type="submit">X</button>
            </form>
        </div>
    <% }); %>
</div>


<div id="add-activity-container">
    <h3>Add Activity:</h3>
    <form action="/visits/<%= visit._id %>/days/<%= day._id %>/activities" method="POST">
            
        <label>Name:
            <input type="string" name="name">
        </label><br>
            
        <label>Address:
            <input type="string" name="formatted_address">
        </label><br>

        <label>Type:
            <input type="string" name="type">
        </label><br>

        <label>Notes:
            <input type="string" name="notes">
        </label><br>
            
        <button type="submit">Add Activity</button>

    </form>
</div>



<%- include('../partials/footer') %>