<%- include('../partials/header') %>

<ul>
    <% visits.forEach(function(v) { %>
        <li><a href="/visits/<%= v._id %>"><%= v.visitName %></a></li>
    <% }); %>
</ul>

<a href="/visits/new"	<%- title === 'Add Visit' ? 'class="active"' : '' %>>Add Visit</a>
    


<%- include('../partials/footer') %>