<!DOCTYPE html>

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>

<body>
    
    <nav>
        <div class="back"><form class="back-button" action="/visits" method="GET" >
            <button type="submit">⇦</button>
        </form></div>
        <div class="title">
            <h1><%= title %> | <%= visit.visitName %></h1>
        </div>
        <% if (user) { %>
            <div class="logout"><form class="logout" action="/logout" method="GET" >
                <button type="submit">log out</button>
            </form></div>
        <% } else { %>
        <div><a href="/auth/google" class="login">log in&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a></div>
        <% } %>
    </nav>


    

    <div class="visit-header">

        <div> <%= visit.startDate %> - <%= visit.endDate %> </div>

    </div>

    <div class="show-visit-container">

        <div class="add-day-container">

            <h3>Add Day:</h3>
    
            <form action="/visits/<%= visit._id %>/days" method="POST">
                    
                <label>Name:
                    <input type="string" name="name">
                </label><br><br>
                    
                <label>Date:
                    <input type="datetime-local" name="date">
                </label><br><br>
                    
                <button type="submit">Add Day</button>
    
            </form>
    
        </div>
        
        
        <% if (visit.days.length) { %>

            <% visit.days.forEach(function(d) { %>

                <div class="day-container"><h3><%= d.name %></h3>

                    <form class="edit-button" action="/visits/<%= visit._id %>/days/<%= d._id %>" method="GET" >
                        <button type="submit">Edit</button>
                    </form>

                    <div class="day-activities-container">
                        <h4>Activities:</h4>
                        <% d.activities?.forEach(function(a) { %>
                            <div id="activity"><%= a.name %>
                                <ul>
                                    <li><%= a.formatted_address %></li>
                                    <li><%= a.type %></li>
                                    <li><%= a.notes %></li>
                                </ul>
                            </div>
                        <% }); %>
                    </div>

                    
                </div>

            <% }); %>
        <% } else { %>
            <div class="day-container">
                <h3>No Days Added</h3>
            </div>
        <% } %>


    </div>

    

    



<%- include('../partials/footer') %>

