<%- include('../partials/header') %>

<form class="back-button" action="/visits" method="GET" >
    <button type="submit">⇦</button>
</form>

<h2> <%= visit.visitName %> </h2>

<div> <%= visit.startDate %> - <%= visit.endDate %> </div>

<br>
<div id="days-container">

    <% if (visit.days.length) { %>
        <% visit.days.forEach(function(d) { %>
            <div class="day-column">
                <div id="days-container"> 
                    <h4><%= d.name %> <br> <%= d.date %></h4>
                    <a href="/visits/<%= visit._id %>/days/<%= d._id %>">Edit</a>
                </div>
                <div id="activities-container">
                    <h4>Activities:</h4>
                    <% d.activities?.forEach(function(a) { %>
                        <div id="visit-day-activity-list"><%= a.name %>
                            <ul>
                                <li><%= a.formatted_address %></li>
                                <li><%= a.type %></li>
                                <li><%= a.notes %></li>
                            </ul>
                        </div>
                    <% }); %>
                </div>
            </div>
        <% }); %>
    <% } else { %>
        <h3>No Days Added</h3>
    <% } %>

</div>

<h2>Add Day:</h2>

<form action="/visits/<%= visit._id %>/days" method="POST">
        
    <label>Name:
        <input type="string" name="name">
    </label><br>
        
    <label>Date:
        <input type="datetime-local" name="date">
    </label><br>
        
    <button type="submit">Add Day</button>

</form>




<%- include('../partials/footer') %>

